* {
  box-sizing: border-box;
}

body {
  margin:0;
  background-image: url("ocean.jpg")
}

img {
  max-width: 100%;
}
.smallpuff {
  content: url("smallpuff.png");
  margin: 250px auto;
  bottom: 300px;
  max-width: 20%;
  animation: pulse 2s infinite alternate linear;
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}
.smallpuff:hover {
  content: url("bigpuff.png");
  max-width: 60%;
  animation: none;
  margin: 50px auto;
}
